In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv("../data/01-tiburon_4.csv", index_col = 0)
df.head(2)

   year country age     species_  mes deceso genero
0  2018     usa  57  White shark  Jun      N      F
1  2018  brazil  18  Tiger shark  Jun      Y      M

# Pair Programming EDA II

En esta lección hemos aprendido qué son los valores nulos y los outliers o valores faltantes. Además hemos aprendido una librería super molona que nos permite hacer una exploración de nuestro dataset muy profunda.

# Hipótesis
Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro análisis.

- ¿Es Australia el sitio más peligroso y letal para estar relajada en la playa?
- ¿Hay diferencias entre los paises en los ataques a hombres y mujeres?
- ¿Cuáles son las edades que más sufren ataques?
- Independientemente de la edad, ¿sufren los hombres más ataques que las mujeres?
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Reducimos esto a una tabla para saber qué tenemos ya limpito y qué no. Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

# Objetivos
Usad la librería sidetable para:

1. Explorar los valores nulos.

In [4]:
df.stb.missing()

          missing  total   percent
mes           132   1647  8.014572
age           131   1647  7.953855
species_      104   1647  6.314511
deceso         99   1647  6.010929
genero         14   1647  0.850030
country        10   1647  0.607165
year            0   1647  0.000000

2. Explorad la columna de country y reportad los resultados solo para aquellas categorías que incluyan el 70% de los datos.

In [5]:
df.stb.freq(['country'], thresh=70)

     country  count    percent  cumulative_count  cumulative_percent
0        usa    734  44.838119               734           44.838119
1  australia    335  20.464264              1069           65.302382
2     others    568  34.697618              1637          100.000000

3. Explorad la columna country en relación al sexo, filtrando de nuevo por aquellas categorías que incluyan el 70% de los datos.

In [6]:
df.stb.freq(['country', "genero"], thresh=70)

,country,genero,count,percent,cumulative_count,cumulative_percent
0,usa,M,602,37.046154,602,37.046154
1,australia,M,301,18.523077,903,55.569231
2,south africa,M,220,13.538462,1123,69.107692
3,others,others,502,30.892308,1625,100.000000

4. Haced los mismo para la columna activity en relación a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

In [7]:
df.stb.freq(['activity', "fatal"], thresh=60)

KeyError: 'activity'

5. Por último, realizad este análisis para la columna fecha (la que creamos en el último ejercicio de pair programming de Pandas) en relación a la columna fatal. Mostrad solo los resultados para las categorías que incluyan el 60% de los datos.

📌 Nota Igual que siempre, no nos vale solo con picar el código, queremos que nos incluyais las conclusiones que extraeis.

# Conclusiones

Si bien es cierto que la lección de hoy ha sido muy teórica, en esta parte los ejercicios no serán tanto de programar sino de pensar 🤔. ¿Qué tendréis que hacer?

En relación a los valores nulos:

- Identificar las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el sidetable).
- Debatid entre vosotras qué haríais con los valores nulos, ¿los quitaríais o los reemplazaríais con un valor que nosotras decidiremos?. Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

En relación a los outliers, ya hemos ido conociendo un poco nuestro dataframe y de momento solo tenemos una columna de tipo numérico, por lo tanto, poco podemos hacer. Un poco más adelante, cuando hayamos hecho una serie de cambios sobre nuestras columnas podremos hacer una evaluación más profunda de estos.