In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable

In [2]:
pd.options.display.max_columns = None

In [4]:
df = pd.read_csv("../data/01-tiburon_4.csv", index_col = 0)
df.head(2)

   year country age     species_  mes deceso genero
0  2018     usa  57  White shark  Jun      N      F
1  2018  brazil  18  Tiger shark  Jun      Y      M

# Pair Programming EDA II

En esta lecci√≥n hemos aprendido qu√© son los valores nulos y los outliers o valores faltantes. Adem√°s hemos aprendido una librer√≠a super molona que nos permite hacer una exploraci√≥n de nuestro dataset muy profunda.

# Hip√≥tesis
Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.

- ¬øEs Australia el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øHay diferencias entre los paises en los ataques a hombres y mujeres?
- ¬øCu√°les son las edades que m√°s sufren ataques?
- Independientemente de la edad, ¬øsufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Reducimos esto a una tabla para saber qu√© tenemos ya limpito y qu√© no. Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

# Objetivos
Usad la librer√≠a sidetable para:

1. Explorar los valores nulos.

In [9]:
df.stb.missing()

          missing  total   percent
mes           132   1647  8.014572
age           131   1647  7.953855
species_      104   1647  6.314511
deceso         99   1647  6.010929
genero         14   1647  0.850030
country        10   1647  0.607165
year            0   1647  0.000000

2. Explorad la columna de country y reportad los resultados solo para aquellas categor√≠as que incluyan el 70% de los datos.

In [10]:
df.stb.freq(['country'], thresh=70)

     country  count    percent  cumulative_count  cumulative_percent
0        usa    734  44.838119               734           44.838119
1  australia    335  20.464264              1069           65.302382
2     others    568  34.697618              1637          100.000000

3. Explorad la columna country en relaci√≥n al sexo, filtrando de nuevo por aquellas categor√≠as que incluyan el 70% de los datos.

In [11]:
df.stb.freq(['country'], thresh=70, other_label="genero")

     country  count    percent  cumulative_count  cumulative_percent
0        usa    734  44.838119               734           44.838119
1  australia    335  20.464264              1069           65.302382
2     genero    568  34.697618              1637          100.000000

4. Haced los mismo para la columna activity en relaci√≥n a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

In [12]:
df.stb.freq(['activity'], thresh=60, other_label="deceso")

KeyError: 'activity'

5. Por √∫ltimo, realizad este an√°lisis para la columna fecha (la que creamos en el √∫ltimo ejercicio de pair programming de Pandas) en relaci√≥n a la columna fatal. Mostrad solo los resultados para las categor√≠as que incluyan el 60% de los datos.

üìå Nota Igual que siempre, no nos vale solo con picar el c√≥digo, queremos que nos incluyais las conclusiones que extraeis.

# Conclusiones

Si bien es cierto que la lecci√≥n de hoy ha sido muy te√≥rica, en esta parte los ejercicios no ser√°n tanto de programar sino de pensar ü§î. ¬øQu√© tendr√©is que hacer?

En relaci√≥n a los valores nulos:

- Identificar las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el sidetable).
- Debatid entre vosotras qu√© har√≠ais con los valores nulos, ¬ølos quitar√≠ais o los reemplazar√≠ais con un valor que nosotras decidiremos?. Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

En relaci√≥n a los outliers, ya hemos ido conociendo un poco nuestro dataframe y de momento solo tenemos una columna de tipo num√©rico, por lo tanto, poco podemos hacer. Un poco m√°s adelante, cuando hayamos hecho una serie de cambios sobre nuestras columnas podremos hacer una evaluaci√≥n m√°s profunda de estos.