In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sidetable as sdt

pd.options.display.max_columns = None

In [4]:
df_l = pd.read_csv("../data/02-tiburon_4.csv", index_col = 0)
df_l.head(2)

   year country  activity   age species_  mes deceso genero
0  2018     usa  Paddling  57.0    White  Jun      N      F
1  2018  brazil  Swimming  18.0    Tiger  Jun      Y      M

# Pair Programming Limpieza III
​
Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro análisis.

- ¿Es Australia es el sitio más peligroso y letal para estar relajada en la playa?
- ¿Cuál es el rango de edad que sufre la mayoría de los ataques?
Independientemente de la edad, sufren los hombres más ataques que las mujeres?
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no. **Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

Por lo tanto, en este ejercicio tendremos que limpiar los outliers.
1. ¿Sobre qué columnas podremos eliminar o reemplazar los outliers?

In [5]:
# seleccionamos solo aquellas variables numéricas ya que los outliers solo los tendremos en variable numéricas

df_numericas = df_l.select_dtypes(include=np.number)
df_numericas.head(2)

   year   age
0  2018  57.0
1  2018  18.0

2. Identifica visualmente los outliers

In [8]:
fig, ax = plt.subplots(2, 1, figsize=(10,5))#creamos un subplot por cada columna que tenemos arriba

for i in range(len(df_numericas.columns)):
    sns.boxplot(x=df_numericas.columns[i], data=df_numericas, ax=ax[i])
plt.show()

'fig, ax = plt.subplots(2, 1, figsize=(10,5))#creamos un subplot por cada columna que tenemos arriba\n\nfor i in range(len(df_numericas.columns)):\n    sns.boxplot(x=df_numericas.columns[i], data=df_numericas, ax=ax[i])\nplt.show()'

3. Identifica sobre el dataframe las filas que son outliers

4. Reemplaza los outliers por el estadístico más correcto.

5. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio en el siguiente pair programming de limpieza.

In [ ]:
# df.to_csv("../data/03-tiburon_4.csv")