In [1]:
import pandas as pd
import numpy as np
import sidetable as stb

pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("../data/03-tiburon_4.csv", index_col = 0)
df.head(2)

   year        type country  activity   age species_  mes deceso genero
0  2018     Boating     usa  Paddling  57.0    White  Jun      N      F
1  2018  Unprovoked  brazil  Swimming  18.0    Tiger  Jun      Y      M

# Pair Programming Limpieza IV

En este caso trabajaremos con el dataframe que limpiamos en el ejercicio de pair de Limpieza anterior, el de Limpieza III, donde limpiabamos las columnas de species, age, etc. y eliminabamos los outliers.


Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an치lisis.

- 쮼s Australia es el sitio m치s peligroso y letal para estar relajada en la playa?
- 쮺u치l es el rango de edad que sufre la mayor칤a de los ataques?
Independientemente de la edad, sufren los hombres m치s ataques que las mujeres?
- 쮼n qu칠 mes ocurren m치s ataques?
- 쮺u치l es la relaci칩n entre la especie y el tipo de ataque (si es fatal o no)?
- 쮺칩mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no. **Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

Es el momento de ponernos a trabajar con los valores nulos 游눩游낗. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci칩n hemos aprendido varios m칠todos, nosotras os planteamos los ejercicios pero sentiros libres de usar el m칠todo que m치s se adapte a vuestras necesidades. Manos a la obra!


1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. 쮿ay alguna columna con una gran cantidad de nulos? En caso de que sea as칤 deberemos eliminarla.

In [3]:
df.head(2)

   year        type country  activity   age species_  mes deceso genero
0  2018     Boating     usa  Paddling  57.0    White  Jun      N      F
1  2018  Unprovoked  brazil  Swimming  18.0    Tiger  Jun      Y      M

In [4]:
df.stb.missing()

          missing  total   percent
age           156   1669  9.346914
mes           152   1669  9.107250
deceso         99   1669  5.931696
activity       31   1669  1.857400
genero         14   1669  0.838826
country        10   1669  0.599161
year            0   1669  0.000000
type            0   1669  0.000000
species_        0   1669  0.000000

La columna que m치s tiene es un 9% de nulos , por lo que no tendriamos que conservar todas las columnas y los datos.

2. Es el momento de eliminar los nulos:

- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [5]:
# usamos fillna para rellenar los nulos con la media recondeada a dos decimales
df['age'].fillna(round(df['age'].mean(), 2), inplace= True)

In [6]:
df.age.isnull().sum()

0

- En relaci칩n a la columna de country al tratarse de una columna de tipo categ칩rica, reemplazad los valores nulos por una nueva categ칩ria que se llame Unknown.

In [7]:
df['country'].replace(np.nan, 'Unknown', inplace=True)

In [8]:
df.country.isnull().sum()

0

- Reemplazad los valores nulos de la columna fatal por Unknown.

In [9]:
df['deceso'].replace(np.nan, 'Unknown', inplace=True)

In [10]:
df.deceso.isnull().sum()

0

- Reemplazad los valores nulos de la columna type por el valor m치s frecuente (la moda).

In [11]:
df['type'].fillna(df['type'].mode()[0], inplace= True)

In [12]:
df.type.isnull().sum()

0

- Reemplazad los valores nulos de la columna fecha por Unknown.

In [13]:
df['mes'].fillna('Unknow', inplace= True)

In [14]:
df.mes.isnull().sum()

0

3. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [15]:
df.to_csv("../data/04-tiburon_4.csv")