In [1]:
import pandas as pd
import mysql.connector

In [2]:
df_ataques = pd.read_csv("../data/04-tiburon_4.csv", index_col = 0)
df_ataques.head(2)

   year        type country  activity   age species month fatal gender
0  2018     Boating     usa  Paddling  57.0   White   Jun     N      F
1  2018  Unprovoked  brazil  Swimming  18.0   Tiger   Jun     Y      M

In [3]:
df_climas = pd.read_csv("../data/00-datos_clima.csv", index_col= 0)
df_climas.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,country,latitud,longitud
0,3,7,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 5}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 150, 'speed':...",16,6,4,1024,none,0,0,110,2,usa,39.78373,-100.445882
1,6,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 6}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 265, 'speed':...",15,6,6,1025,none,0,0,220,2,usa,39.78373,-100.445882

# Pair Programming ETL Carga I

Es el momento de meter todos nuestros datos en SQL !!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr谩 la informaci贸n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr谩 la informaci贸n obtenida en el ejercicio de pair de ETL 1.

 Nota Todo lo tendremos que hacer desde jupyter notebook

1. Cread la BBDD con el nombre de tiburones.

2. Cread las tablas de la BBDD:
    - Tabla ataques
    - Tabla clima

3. BONUS Insertar los datos en las tablas.
 Nota Esta parte del pair es optativa y no ser谩 considerada para la evaluaci贸n

 En caso de que no teng谩is los datos unidos de la sesi贸n anterior, ten茅is un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

Creamos una base de datos que se llame Tiburones

In [4]:
# Creamos la funci贸n para crear la base de datos
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password='AlumnaAdalab' 
    )
    print("Conexi贸n realizada con 茅xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
mydb = crear_bbdd("tiburones")

Conexi贸n realizada con 茅xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [6]:
# Creamos la funci贸n para crear las tablas
def crear_insertar_tabla(nombre_bbdd, contrase帽a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase帽a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [7]:
# Hacemos un info para ir viendo los tipos de datos y los nombres de las columnas
df_ataques.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1669 entries, 0 to 1671
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      1669 non-null   int64
 1   type      1669 non-null   object
 2   country   1669 non-null   object
 3   activity  1669 non-null   object
 4   age       1669 non-null   float64
 5   species   1669 non-null   object
 6   month     1669 non-null   object
 7   fatal     1669 non-null   object
 8   gender    1669 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 130.4+ KB

In [8]:
# Creamos la query para crear la tabla ataques
tabla_ataques = ("""CREATE TABLE IF NOT EXISTS `tabla_ataques` (
                            `reg_number` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            `year` INT NOT NULL,
                            `type` VARCHAR(200) NOT NULL,
                            `country` VARCHAR(200) NOT NULL,
                            `age` INT NOT NULL,
                            `species_` VARCHAR(200) NOT NULL,
                            `fecha_limpia` VARCHAR(200) NOT NULL,
                            `fatal` VARCHAR(200) NOT NULL,
                            `sex` VARCHAR(200) NOT NULL,
                            `latitud` DECIMAL NOT NULL,
                            `longitud` DECIMAL NOT NULL,
                            `country2` VARCHAR(200) NOT NULL,
                            `fatal_N` INT NOT NULL,
                            `fatal_Unknown` INT NOT NULL,
                            `fatal_Y` INT NOT NULL,
                            `fatal_N.1` INT NOT NULL,
                            `fatal_Unknown.1` INT NOT NULL,
                            `fatal_Y.1` INT NOT NULL,
                            `species_.1` INT NOT NULL,
                            `fecha_limpia.1` INT NOT NULL,
                            `type.1` INT NOT NULL,
                            `age_NORM` DECIMAL NOT NULL,
                            CONSTRAINT `fk_country` 
                            FOREIGN KEY (`country`) 
                            REFERENCES `tabla_clima`(`country`))
                            ;""")

In [9]:
# Hacemos el info para ir viendo los nombres y tipo de datos de las columnas
df_climas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 0 to 319
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timepoint          320 non-null    int64
 1   cloudcover         320 non-null    int64
 2   highcloud          320 non-null    int64
 3   midcloud           320 non-null    int64
 4   lowcloud           320 non-null    int64
 5   rh_profile         320 non-null    object
 6   wind_profile       320 non-null    object
 7   temp2m             320 non-null    int64
 8   lifted_index       320 non-null    int64
 9   rh2m               320 non-null    int64
 10  msl_pressure       320 non-null    int64
 11  prec_type          320 non-null    object
 12  prec_amount        320 non-null    int64
 13  snow_depth         320 non-null    int64
 14  wind10m.direction  320 non-null    int64
 15  wind10m.speed      320 non-null    int64
 16  country            320 non-null    object
 17  latitud            320 non-null    float64
 18  longitud           320 non-null    float64
dtypes: float64(2), int64(13), object(4)
memory usage: 50.0+ KB

In [10]:
# Creamos la query para crear la tabla clima
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
  `id_clima` INT NOT NULL AUTO_INCREMENT,
  `timepoint` INT NOT NULL,
  `cloudcover` INT NOT NULL,
  `highcloud` INT NOT NULL,
  `midcloud` INT NOT NULL,
  `lowcloud` INT NOT NULL,
  `rh_profile` VARCHAR (45) NOT NULL,
  `wind_profile` VARCHAR (45) NOT NULL,
  `temp2m` INT NOT NULL,
  `lifted_index` INT NOT NULL,
  `rh2m` INT NOT NULL,
  `msl_pressure` INT NOT NULL,
  `prec_type` VARCHAR (45) NOT NULL,
  `prec_amount` INT NOT NULL,
  `snow_depth` INT NOT NULL,
  `wind10m.direction` INT NOT NULL,
  `wind10m.speed` INT NOT NULL,
  `country` VARCHAR (45) NOT NULL,
  `latitud` DECIMAL NOT NULL,
  `longitud` DECIMAL NOT NULL,
  PRIMARY KEY (`id_clima`));'''

In [11]:
# Llamamos a la funci贸n para crear las dos tablas en nuestra BBD
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_ataques)

1824 (HY000): Failed to open the referenced table 'tabla_clima'
Error Code: 1824
SQLSTATE HY000
Message Failed to open the referenced table 'tabla_clima'

In [12]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_clima)

In [13]:
# Al intentar cargar los datos, vemos que tenemos un error por una columna con una comilla de m谩s. Lo reemplazamos por un espacio vac铆o
df_ataques["activity"] = df_ataques["activity"].replace(r'"', '', regex= True)

In [14]:
for indice, fila in df_ataques.iterrows(): # iteramos por el dataframe.
    
    # definimos nuestra query, igual que si lo hicieramos en workbench. 锔 Como estamos definiendo nuestra query en varias l铆neas usamos las triples comillas
    # lo valores que introduciremos ser谩n los del dataframe que estamos iterando, por lo que usaremos los formats de los strings. 
    
    query_ataques = f"""
            INSERT INTO ataques (year, type, country, activity, age, species_, mes, deceso, genero)
            VALUES ( "{fila['year']}", "{fila['type']}", "{fila['country']}", "{fila['activity']}", "{fila['age']}", "{fila['species']}", "{fila['month']}", "{fila['fatal']}", "{fila['gender']}");
            """
    # una vez definida la query llamamos a la funci贸n que nos inserta los datos. 
    crear_insertar_tabla("tiburones", "AlumnaAdalab", query_ataques)

1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist
1146 (42S02): Table 'tiburones.ataques' doesn't exist
Error Code: 1146
SQLSTATE 42S02
Message Table 'tiburones.ataques' doesn't exist

KeyboardInterrupt: