In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from datetime import datetime, timedelta
import mysql.connector

In [ ]:
df = pd.read_csv("../files/students.csv", index_col = 0)

# Pair Programming ETL Carga I
Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.