In [1]:
import pandas as pd
import mysql.connector

In [5]:
df_ataques = pd.read_csv("../data/04-tiburon_4.csv", index_col = 0)
df_ataques.head(2)

   year        type country  activity   age species month fatal gender
0  2018     Boating     usa  Paddling  57.0   White   Jun     N      F
1  2018  Unprovoked  brazil  Swimming  18.0   Tiger   Jun     Y      M

In [4]:
df_climas = pd.read_csv("../data/00-datos_clima.csv", index_col= 0)
df_climas.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,country,latitud,longitud
0,3,7,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 5}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 150, 'speed':...",16,6,4,1024,none,0,0,110,2,usa,39.78373,-100.445882
1,6,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 6}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 265, 'speed':...",15,6,6,1025,none,0,0,220,2,usa,39.78373,-100.445882

# Pair Programming ETL Carga I
Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.

In [ ]:
class subir_SQL:
    def __init__(self, nombre_bbdd, contraseña):
        # nuestra clase va tener atributos, nombre de la BBDD y la contraseña 
        self.nombre_bbdd = nombre_bbdd
        self.contraseña = contraseña
    
    # Creamos la función para crear la base de datos
    def crear_bbdd(self):

        mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password= f'{self.contraseña}' 
        )
        print("Conexión realizada con éxito")
        
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)


    # Creamos una funcion para insertar nuestras tablas
    def crear_insertar_tabla(self, query):
    
    # nos conectamsos con el servidor usando el conector de sql
        cnx = mysql.connector.connect(user='root', password=f"{self.contraseña}",
                                        host='127.0.0.1', database=f"{self.nombre_bbdd}")
        # iniciamos el cursor
        mycursor = cnx.cursor()
        
        # intentamos hacer la query
        try: 
            mycursor.execute(query)
            cnx.commit() 
        # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)